<h1>Welcome to Home Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci magni
  aliquid ipsa ratione animi impedit? Delectus quia minus maxime iste labore
  aut, quas ipsa fuga neque laboriosam, doloribus dolore libero? Lorem ipsum
  dolor sit amet consectetur adipisicing elit. Obcaecati voluptate ducimus nulla
  voluptas eum quod architecto optio, accusamus rem perspiciatis et debitis
  explicabo doloribus, tempore fuga non sequi possimus aliquid? Lorem ipsum
  dolor sit amet consectetur, adipisicing elit. Unde fugit aspernatur officiis
  delectus excepturi architecto veniam obcaecati, laborum est dolor iure dolorem
  dolores possimus earum rerum quam accusantium ea nulla! Lorem ipsum dolor sit
  amet consectetur adipisicing elit. Quae sequi quibusdam voluptates minima
  debitis nemo, labore est cum. Natus nam doloribus sit maiores, esse fugiat
  perspiciatis illo similique autem!
</p>
<a class="text-right" [routerLink]="['/login']">
  <button class="btn btn-success">login</button>
</a>
